<!DOCTYPE html>

<html lang="uk" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Редагування товару</title>
        <link th:href="@{/resources/css/main.css}" rel="stylesheet">
        <link th:href="@{/resources/css/header.css}" rel="stylesheet">
        <link th:href="@{/resources/css/formStyling.css}" rel="stylesheet">
        <script th:src="@{/resources/js/fieldValidation.js}"></script>
        <script th:if="${message}" th:inline="javascript">
            var message = /*[[${message}]]*/;
            alert(message);
        </script>
    </head>
    <body>
        <div th:replace="fragments/Header.html :: header"></div>
        <div class="container">
            <form class="styledForm" th:action="@{/updateProduct}" th:object="${updatedProduct}" method="post" onsubmit="return validatePriceAndSize(this.price, this.size)">
                <h2>Редагування товару #<label th:text="${updatedProduct.id}"></label></h2>
                <input type="hidden" th:field="*{id}" th:attr="value=${updatedProduct.id}">
                <label class="field">Найменування товару:</label><input th:field="*{productName}" th:attr="value=${updatedProduct.productName}" required pattern="^[a-zA-Zа-яёА-ЯЁіїєІЇЄ'0-9 ]+$" onblur="validate(this, 'Найменування має містити лише літери, цифри та пробіл')" onfocus="dropStyle(this)" oninput="removeValidationMessage(this)">
                <label class="field">Торгова марка:</label><input th:field="*{trademark}" th:attr="value=${updatedProduct.trademark}" required pattern="^[a-zA-Zа-яёА-ЯЁіїєІЇЄ'0-9 -]+$" onblur="validate(this, 'Торгова марка має містити лише літери, цифри та пробіл')" onfocus="dropStyle(this)" oninput="removeValidationMessage(this)">
                <label class="field">Ціна:</label><input th:field="*{price}" th:attr="value=${#numbers.formatDecimal(updatedProduct.price, 1, 2)}" required pattern="^[0-9]+\.\d{1,2}$" onblur="validate(this, 'Ціна повинна мати формат (гривні).(копійки) та бути більше 0.00')" onfocus="dropStyle(this)" oninput="removeValidationMessage(this)">
                <label class="field">Категория:</label><select th:field="*{category}" size=1 required onblur="validate(this, 'Оберіть категорію!')" onfocus="dropStyle(this)" oninput="removeValidationMessage(this)">
                                                <option th:selected="${updatedProduct.category == T(com.ProjectByElvara.entities.additionalClasses.Category).BAKERY}" th:value="${T(com.ProjectByElvara.entities.additionalClasses.Category).BAKERY}">Хлібобулочні вироби</option>
                                                <option th:selected="${updatedProduct.category == T(com.ProjectByElvara.entities.additionalClasses.Category).FRUIT_VEGETABLES}" th:value="${T(com.ProjectByElvara.entities.additionalClasses.Category).FRUIT_VEGETABLES}">Овочі та фрукти</option>
                                                <option th:selected="${updatedProduct.category == T(com.ProjectByElvara.entities.additionalClasses.Category).FROZEN_FOOD}" th:value="${T(com.ProjectByElvara.entities.additionalClasses.Category).FROZEN_FOOD}">Заморожена продукція</option>
                                                <option th:selected="${updatedProduct.category == T(com.ProjectByElvara.entities.additionalClasses.Category).DAIRY_PRODUCTS}" th:value="${T(com.ProjectByElvara.entities.additionalClasses.Category).DAIRY_PRODUCTS}">Молочна продукція</option>
                                                <option th:selected="${updatedProduct.category == T(com.ProjectByElvara.entities.additionalClasses.Category).MEAT}" th:value="${T(com.ProjectByElvara.entities.additionalClasses.Category).MEAT}">М&#39;ясо</option>
                                                <option th:selected="${updatedProduct.category == T(com.ProjectByElvara.entities.additionalClasses.Category).ALCOHOL}" th:value="${T(com.ProjectByElvara.entities.additionalClasses.Category).ALCOHOL}">Алкоголь</option>
                                            </select>
                <label class="field">Об&#39;єм:</label><input th:field="*{size}" th:attr="value=${updatedProduct.size}" required pattern="^\d*\.\d{1,3}\D{1,2}$" onblur="validate(this, 'Показник об`єму має відповідати формату DD.DDDCC (D - цифра, C - символ)')" onfocus="dropStyle(this)" oninput="removeValidationMessage(this)">
                <label class="field">Кількість на складі:</label><input th:field="*{amount}" th:attr="value=${updatedProduct.amount}" required pattern="^[0-9]+$" onblur="validate(this, 'Поле має містити лише цифри')" onfocus="dropStyle(this)" oninput="removeValidationMessage(this)">
                <input type="hidden"  id="status" name="status" th:value="${T(com.ProjectByElvara.entities.additionalClasses.ProductStatus).ACTIVE}">
                <input type="submit" value="Редагувати" onclick="callValidityReport()">
            </form>
            <a href="javascript:history.back()">
                <div class="navButton" tabindex="0">
                    <label>Назад</label>
                </div>
            </a>
        </div>
    </body>
</html>